.place__image {
  max-width: 460px;
  display: block;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place__image {
    width: 100%;
    max-width: 440px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .place__image {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }
}

@media (min-width: 425px) and (max-width: 635px) {
  .place__image {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .place__image {
    max-width: 100%;
  }
}

/* версия с гридами - пока не удалось починить  
.place__image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/4;
}

@media screen and (max-width: 320px) {
  .place__image {
    margin: 32px auto 0;
  }
}
*/