.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .lead {
    max-width: 100%;
    padding-top: 48px;
  }
}

@media (max-width: 425px) {
  .lead {
    max-width: 100%;
    padding-top: 48px;
  }
}