.intro__list-item {
  margin: 0 0 2px 0;
  color: #fff;
  font-size: 12px; /* 0.75rem; */
  line-height: 16px; /* 1.5 */
  font-weight: 400; /* normal */
  /* font-style: normal; */
}

.intro__list-item:last-child {
  margin: 0;
}