.cover__title {
  margin: 0 0 32px;
  padding: 0;
  color: #fff;
  font-size: 4.5rem; /* 72px */
  line-height: 76px; /* 1.06 */
  font-weight: 900;
  font-style: normal;
  text-align: center;
}
@media (min-width: 426px) and (max-width: 560px) {
  .cover__title {
    font-size: 2rem; /* 32px */
    line-height: 36px; /* 1.09 */
  }
}

@media (max-width: 425px) {
  .cover__title {
    width: 250px;
    margin: 0 0 16px;
    font-size: 2rem; /* 32px */
    line-height: 36px; /* 1.09 */
  }
}