.header__logo-image {
  max-width: 176px;
  height: 52px;
  display: block;
}
  
@media screen and (max-width: 320px) {
  .header__logo-image {
    max-width: 142px;
    height: 42px;
  }
}

@media screen and (max-width: 280px) {
  .header__logo-image {
    max-width: 50vw;
  }
}