.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding: 92px 0 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 96px);
    padding: 88px 0 24px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    flex-direction: column;
    padding: 64px 0 24px;
  }
}

@media (max-width: 425px) {
  .footer {
    max-width: calc(100% - 32px);
    flex-direction: column;
    padding: 64px 0 24px;
  }
}
